# vim
.*.sw[a-z]

# the binaries
cmd/server/server
cmd/insert-user/insert-user

# testrun contains repos that were use for tests
muxrpc/test/go/testrun
muxrpc/test/nodejs/testrun
web/handlers/testrun
roomdb/sqlite/testrun

# build artifacts from node.js project web/styles
node_modules
web/assets/styles/compiled.*
web/assets/style.css
