{{ define "title" }}{{i18n "AuthWithSSBTitle"}}{{ end }}
{{ define "content" }}
      <div id="page-header">
        <h1 id="welcome" class="text-lg">{{i18n "AuthWithSSBServerStart"}}</h1>
      </div>
      <div>
        <img id="start-auth-qrcode" src="{{.QRCodeURI}}" alt="QR-Code to pass the challenge to an App" />
        <a id="start-auth-uri" href="{{.SSBURI}}" target="_blank">{{i18n "GenericOpenLink"}}</a>

        <h3>Server events</h3>
        <p id="ping"></p>
        <p id="failed" class="text-red-500"></p>
      </div>
      <div id="challenge" data-sc="{{.ServerChallenge}}"></div>
      <script src="/assets/login-events.js"></script>
{{end}}