<!DOCTYPE html>
<html>
<head>
  <!-- complete base template -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/assets/fixfouc.css" rel="stylesheet">
  <link href="/assets/style.css" rel="stylesheet">
  <title>{{block "title" .}}Go-SSB Room Server{{end}}</title>
</head>
<body class="bg-gray-100">
  <div class="sm:mx-auto sm:container">
    <div class="flex flex-row justify-end space-x-4 my-4">
      {{$user := is_logged_in}}
      {{if $user}}
      <a
        href="{{urlTo "complete:notice:list"}}"
        class="{{if current_page_is "complete:notice:list"}}bg-gray-300 {{else}}hover:bg-gray-200 {{end}}pr-1 pl-2 py-3 sm:py-1 rounded-md flex flex-row items-center font-semibold text-sm text-gray-700 hover:text-gray-800 truncate"
      >
        <svg class="text-pink-700 w-4 h-4 mr-1" viewBox="0 0 24 24">
          <path fill="currentColor" d="M20 5L20 19L4 19L4 5H20M20 3H4C2.89 3 2 3.89 2 5V19C2 20.11 2.89 21 4 21H20C21.11 21 22 20.11 22 19V5C22 3.89 21.11 3 20 3M18 15H6V17H18V15M10 7H6V13H10V7M12 9H18V7H12V9M18 11H12V13H18V11Z" />
        </svg>‍{{i18n "NoticeList"}}
      </a>
      <div class="ml-4 flex-1 sm:hidden flex flex-row items-center">
        <a href="{{urlTo "admin:menu"}}">
          <svg class="w-6 h-6 text-gray-700" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>
        </a>
      </div>
      <span class="flex flex-row items-center divide-x divide-gray-300">
        <div class="flex flex-row items-center pr-3">
          <svg class="text-green-500 w-4 h-4 mr-1" viewBox="0 0 24 24">
            <path fill="currentColor" d="M22,18V22H18V19H15V16H12L9.74,13.74C9.19,13.91 8.61,14 8,14A6,6 0 0,1 2,8A6,6 0 0,1 8,2A6,6 0 0,1 14,8C14,8.61 13.91,9.19 13.74,9.74L22,18M7,5A2,2 0 0,0 5,7A2,2 0 0,0 7,9A2,2 0 0,0 9,7A2,2 0 0,0 7,5Z" />
          </svg>
          <span class="text-green-500 text-sm">{{$user.Name}}</span>
        </div>
        <a
          href="{{urlTo "auth:fallback:logout"}}"
          class="pl-3 pr-4 py-2 sm:py-1 font-semibold text-sm text-gray-500 hover:text-red-600"
        >{{i18n "AuthSignOut"}}</a>
      </span>
      {{else}}
      <a
        href="{{urlTo "complete:notice:list"}}"
        class="{{if current_page_is "complete:notice:list"}}bg-gray-300 {{else}}hover:bg-gray-200 {{end}}pr-1 pl-2 py-3 sm:py-1 rounded-md flex flex-row items-center font-semibold text-sm text-gray-700 hover:text-gray-800 truncate"
      >
        <svg class="text-pink-700 w-4 h-4 mr-1" viewBox="0 0 24 24">
          <path fill="currentColor" d="M20 5L20 19L4 19L4 5H20M20 3H4C2.89 3 2 3.89 2 5V19C2 20.11 2.89 21 4 21H20C21.11 21 22 20.11 22 19V5C22 3.89 21.11 3 20 3M18 15H6V17H18V15M10 7H6V13H10V7M12 9H18V7H12V9M18 11H12V13H18V11Z" />
        </svg>‍{{i18n "NoticeList"}}
      </a>
      <a
        href="{{urlTo "auth:fallback:signin:form"}}"
        class="pl-3 pr-4 py-2 sm:py-1 font-semibold text-sm text-gray-500 hover:text-green-600"
      >{{i18n "AuthSignIn"}}</a>
      {{end}}
    </div>

    {{block "extra" .}}{{end}}

    {{block "main" .}}
    <div class="flex flex-row items-start">
      {{$user := is_logged_in}}
      {{if $user}}
        <div class="hidden sm:block">
          {{template "menu" .}}
        </div>
      {{end}}

      <div class="bg-gray-50 rounded-2xl py-4 px-4 sm:px-8 shadow-xl mb-16 flex-1 max-w-full">
        {{ block "content" . }}{{end}}
      </div>
    </div>
    {{end}}

    {{block "footer" .}}
    {{$cocUrl := urlToNotice "NoticeCodeOfConduct"}}
    {{$ppUrl := urlToNotice "NoticePrivacyPolicy"}}
    <footer>
      {{if $cocUrl}}
      <a href="{{$cocUrl}}">{{i18n "NoticeCodeOfConduct"}}</a>
      {{end}}
      {{if $ppUrl}}
      <a href="{{$ppUrl}}">{{i18n "NoticePrivacyPolicy"}}</a>
      {{end}}
    </footer>
    {{end}}
  </div>
</body>
</html>
