{{ define "title" }}{{ i18n "AuthFallbackPasswordChangeFormTitle" }}{{ end }}
{{ define "content" }}
<div class="flex flex-col justify-center items-center self-center max-w-lg">
  <span id="welcome" class="text-center mt-8 py-10">{{i18n "AuthFallbackPasswordChangeWelcome"}}</span>

  {{ template "flashes" . }}

  <form
    id="change-password"
    action="{{urlTo "members:change-password"}}"
    method="POST"
    class="flex flex-col items-center self-stretch"
    >
      {{.csrfField}}

      {{if ne .ResetToken ""}}
      <input type="hidden" name="reset-token" value={{.ResetToken}}>
      {{end}}

      <label
        for="password"
        class="mt-2 mb-1 font-bold text-gray-400 text-sm"
      >{{i18n "AuthFallbackNewPassword"}}</label>
      <input
        id="password"
        type="password"
        name="new-password"
        class="self-stretch shadow rounded border border-transparent h-10 p-1 pl-4 font-mono truncate flex-auto text-gray-600 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:border-transparent">

      <label
        for="repeat"
        class="mt-2 mb-1 font-bold text-gray-400 text-sm"
      >{{i18n "AuthFallbackRepeatPassword"}}</label>
      <input
        id="repeat"
        type="password"
        name="repeat-password"
        class="self-stretch shadow rounded border border-transparent h-10 p-1 pl-4 font-mono truncate flex-auto text-gray-600 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:border-transparent">


      <button
        type="submit"
        class="my-8 w-32 shadow rounded px-4 h-8 text-gray-100 bg-purple-500 hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50"
        >{{i18n "GenericSubmit"}}</button>
  </form>
</div>
{{ end }}
