<!--
SPDX-FileCopyrightText: 2021 The NGI Pointer Secure-Scuttlebutt Team of 2020/2021

SPDX-License-Identifier: CC-BY-4.0
-->

{{define "title"}}render - Error {{.StatusCode}}{{end}}
{{define "content"}}
<div class="page-header">
  <h1>Error #{{.StatusCode}}<small> - {{.Status}}</small></h1>
</div>
<div class="row">
  <div class="col-sm-12">
    <p id="errBody">{{.Err}}</p>
    <p>
      <a href="{{.BackURL}}" class="btn btn-primary">Back</a>
    </p>
  </div>
</div>
{{end}}