<!--
SPDX-FileCopyrightText: 2021 The NGI Pointer Secure-Scuttlebutt Team of 2020/2021

SPDX-License-Identifier: CC-BY-4.0
-->

{{ define "title" }}{{.Title}}{{ end }}
{{ define "content" }}
  <h1
    class="text-3xl self-start rounded-full py-4 px-6 tracking-tight font-black text-white mt-2 mb-4 bg-gradient-to-r from-pink-400 to-red-400"
  >{{.Title}}</h1>

  <div class="markdown">
    {{.Content}}
  </div>

  <div class="h-8"></div>
  {{if and is_logged_in member_is_elevated }}
    <a
      id="edit-notice"
      href="{{urlTo "admin:notice:edit" "id" .ID}}"
      class="self-start shadow rounded px-4 h-8 flex flex-row justify-center items-center text-gray-100 bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-600 focus:ring-opacity-50"
    >{{i18n "NoticeEditTitle"}}</a>
  {{end}}
{{end}}
