{{ define "title" }}{{i18n "LandingTitle"}}{{ end }}
{{ define "content" }}
<div class="page-header">
  <h1 id="welcome">{{i18n "LandingWelcome"}}</h1>

<img id="logo" src="/assets/img/test-hermie.png">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed faucibus turpis in eu mi bibendum. A arcu cursus vitae congue mauris rhoncus aenean vel elit. Aliquet bibendum enim facilisis gravida neque convallis. Tempor orci eu lobortis elementum nibh tellus molestie. Sit amet est placerat in egestas erat imperdiet. Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Ultrices in iaculis nunc sed. Odio facilisis mauris sit amet massa. Sed vulputate mi sit amet mauris commodo quis imperdiet. Hendrerit dolor magna eget est lorem ipsum dolor sit amet. Neque vitae tempus quam pellentesque nec nam. Quis risus sed vulputate odio ut. Tincidunt lobortis feugiat vivamus at augue.</p>
<p>Sem nulla pharetra diam sit amet nisl. Sed odio morbi quis commodo odio aenean sed adipiscing. In ornare quam viverra orci sagittis. Elit eget gravida cum sociis natoque. Auctor neque vitae tempus quam. Porttitor massa id neque aliquam vestibulum morbi blandit cursus risus. Ornare lectus sit amet est placerat in egestas erat. Ut enim blandit volutpat maecenas. Fermentum odio eu feugiat pretium nibh. At risus viverra adipiscing at. Et egestas quis ipsum suspendisse. Mollis nunc sed id semper risus in hendrerit. Semper feugiat nibh sed pulvinar.</p>
<p>Nunc sed augue lacus viverra vitae. Urna id volutpat lacus laoreet non curabitur gravida arcu ac. At lectus urna duis convallis convallis tellus id interdum. Hac habitasse platea dictumst quisque. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Ac felis donec et odio pellentesque diam volutpat commodo sed. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Nec nam aliquam sem et tortor consequat id porta nibh. Massa vitae tortor condimentum lacinia quis vel. Neque egestas congue quisque egestas diam in arcu cursus. Rhoncus mattis rhoncus urna neque viverra justo. Quam quisque id diam vel quam elementum pulvinar. At volutpat diam ut venenatis tellus in metus vulputate eu. Dui id ornare arcu odio ut sem nulla pharetra. Ut eu sem integer vitae justo eget magna fermentum iaculis. Risus sed vulputate odio ut. Eu volutpat odio facilisis mauris sit. Vel fringilla est ullamcorper eget nulla facilisi etiam. Nullam ac tortor vitae purus faucibus.</p>
<p>Enim sit amet venenatis urna cursus eget nunc scelerisque viverra. Rhoncus est pellentesque elit ullamcorper dignissim. In aliquam sem fringilla ut morbi tincidunt augue interdum. Sit amet consectetur adipiscing elit. Id volutpat lacus laoreet non curabitur gravida arcu. Nunc aliquet bibendum enim facilisis gravida neque convallis. Eros donec ac odio tempor orci dapibus ultrices in iaculis. Interdum consectetur libero id faucibus nisl. Est velit egestas dui id ornare arcu odio ut. Scelerisque felis imperdiet proin fermentum leo vel orci porta non. Nisi vitae suscipit tellus mauris a diam maecenas. Nisl pretium fusce id velit ut tortor pretium viverra.</p>
<p>Varius morbi enim nunc faucibus. At auctor urna nunc id cursus. Vitae purus faucibus ornare suspendisse. Ut ornare lectus sit amet est placerat. Libero justo laoreet sit amet. Scelerisque viverra mauris in aliquam sem fringilla ut. In est ante in nibh. Turpis egestas integer eget aliquet. Nibh cras pulvinar mattis nunc sed blandit. Fringilla ut morbi tincidunt augue interdum velit euismod in. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Eu feugiat pretium nibh ipsum. Mauris ultrices eros in cursus turpis massa. Eu sem integer vitae justo eget. Dignissim suspendisse in est ante in. Imperdiet nulla malesuada pellentesque elit. Ut faucibus pulvinar elementum integer enim neque. Consequat semper viverra nam libero justo laoreet.</p>
</div>
</div> <!-- /row -->
{{end}}