{{ define "title" }}{{i18n "InviteConsumedTitle"}}{{ end }}
{{ define "content" }}
  <div class="flex flex-col justify-center items-center h-64">

    <span
      id="welcome"
      class="text-center"
    >{{i18n "InviteConsumedWelcome"}}</span>

    <a id="join-link" href="{{.SSBURI}}">Join Room</a>
  </div>
{{end}}