{{ define "title" }}{{ i18n "InviteFacadeTitle" }}{{ end }}
{{ define "content" }}
<div class="flex flex-col justify-center items-center self-center max-w-lg">
  <span id="welcome" class="text-center mt-8">{{i18n "InviteInsertWelcome"}}</span>

  <form
    id="consume"
    action="{{urlTo "complete:invite:consume"}}"
    method="POST"
    class="flex flex-col items-center self-stretch"
    >
    {{.csrfField}}
      <input type="hidden" name="invite" value={{.Token}}>

      <input
        type="text"
        name="id"
        placeholder="{{i18n "PubKeyRefPlaceholder"}}"
        class="mt-8 self-stretch shadow rounded border border-transparent h-10 p-1 pl-4 font-mono truncate flex-auto text-gray-600 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:border-transparent">

      <button
        type="submit"
        class="my-8 w-32 shadow rounded px-4 h-8 text-gray-100 bg-purple-500 hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50"
        >{{i18n "GenericSubmit"}}</button>
  </form>
</div>
{{ end }}