{{ define "title" }}{{i18n "AdminAliasesTitle"}}{{ end }}
{{ define "content" }}
  <h1
    class="text-3xl tracking-tight font-black text-black mt-2 mb-4"
  >{{i18n "AdminAliasesTitle"}}</h1>

  <p id="welcome" class="my-2">{{i18n "AdminAliasesWelcome"}}</p>

  {{if .Flashes}}
  <ul id="flashes-list">
    {{range .Flashes}}
      <li
        class="{{if eq .Kind 1}}text-red-600{{else}}text-green-600{{end}}"
      >
        {{.Message}}
      </li>
    {{end}}
  </ul>
  {{end}}

  <p
    id="aliasCount"
    class="text-lg font-bold my-2"
  >{{i18npl "ListCount" .Count}}</p>

  <ul id="theList" class="divide-y pb-4">
    {{range .Entries}}
    <li class="flex flex-row items-center h-12">
      <span
        class="font-mono truncate flex-auto text-gray-600 tracking-wider"
      >{{.Name}}</span>
      <span
        class="font-mono truncate flex-auto text-gray-600 tracking-wider"
      >{{.Feed.Ref}}</span>

      <a
        href="{{urlTo "admin:aliases:revoke:confirm" "id" .ID}}"
        class="pl-4 w-20 py-2 text-center text-gray-400 hover:text-red-600 font-bold cursor-pointer"
      >{{i18n "AdminAliasesRevoke"}}</a>
    </li>
    {{end}}
  </ul>

  {{$pageNums := .Paginator.PageNums}}
  {{$view := .View}}
  {{if gt $pageNums 1}}
  <div class="flex flex-row justify-center">
    {{if not .FirstInView}}
      <a
        href="{{urlTo "admin:members:overview"}}?page=1"
        class="rounded px-3 py-2 text-pink-600 border-transparent hover:border-pink-400 border-2"
      >1</a>
      <span
        class="px-3 py-2 text-gray-400 border-2 border-transparent"
      >..</span>
    {{end}}

    {{range $view.Pages}}
      {{if le . $pageNums}}
        {{if eq . $view.Current}}
          <span
            class="px-3 py-2 cursor-default text-gray-500 border-2 border-transparent"
          >{{.}}</span>
        {{else}}
          <a
            href="{{urlTo "admin:members:overview"}}?page={{.}}"
            class="rounded px-3 py-2 mx-1 text-pink-600 border-transparent hover:border-pink-400 border-2"
          >{{.}}</a>
        {{end}}
      {{end}}
    {{end}}

    {{if not .LastInView}}
      <span
        class="px-3 py-2 text-gray-400 border-2 border-transparent"
      >..</span>
      <a
        href="{{urlTo "admin:members:overview"}}?page={{$view.Last}}"
        class="rounded px-3 py-2 text-pink-600 border-transparent hover:border-pink-400 border-2"
      >{{$view.Last}}</a>
    {{end}}
  </div>
  {{end}}
{{end}}