{{ define "title" }}{{i18n "AdminOverview"}}{{ end }}
{{ define "content" }}
<div class="page-header">
  <h1 id="welcome">{{i18n "AdminWelcome"}}</h1>
</div>
<div class="row">
    <div class="col-md-12">
    <p>super cool dashboard!</p>
    </div>
</div> <!-- /row -->
{{end}}