{{ define "title" }}{{i18n "AdminDashboardTitle"}}{{ end }}
{{ define "content" }}
<div class="page-header">
  <h1 id="welcome">{{i18n "AdminDashboardWelcome"}}</h1>
</div>
<div class="row">
    <div class="text-xs">
    <p class="text-2xl" id="roomCount">{{i18npl "AdminRoomCount" .Count}}</p>
    <ul>
    {{range .Clients}}
     <li>{{.}}</li>
    {{end}}
    </ul>
    </div>
</div> <!-- /row -->
{{end}}