<!--
SPDX-FileCopyrightText: 2021 The NGI Pointer Secure-Scuttlebutt Team of 2020/2021

SPDX-License-Identifier: CC-BY-4.0
-->

{{ define "title" }}{{i18n "AdminDeniedKeysTitle"}}{{ end }}
{{ define "content" }}
  <h1
    class="text-3xl tracking-tight font-black text-black mt-2 mb-4"
  >{{i18n "AdminDeniedKeysTitle"}}</h1>

  <p id="welcome" class="my-2">{{i18n "AdminDeniedKeysWelcome"}}</p>

  {{ template "flashes" . }}

  <p
    id="DeniedKeysCount"
    class="text-lg font-bold my-2"
  >{{i18npl "MemberCount" .Count}}</p>

  <ul id="theList" class="divide-y pb-4">
    <form
      id="add-entry"
      action="{{urlTo "admin:denied-keys:add"}}"
      method="POST"
    >
      {{ .csrfField }}
      <div id="denied-keys-input-container" class="flex flex-row items-center h-12">
        <input
          {{ if member_can "change-denied-keys" }} {{ else }} disabled {{ end }}
          type="text"
          name="pub_key"
          placeholder="{{i18n "PubKeyRefPlaceholder"}}"
          class="p-1 rounded font-mono truncate w-1/2 mr-2 tracking-wider h-12 shadow text-gray-900 focus:outline-none focus:ring-1
          focus:ring-green-500 focus:border-transparent placeholder-gray-300 
          {{ if member_can "change-denied-keys" }} {{ else }} shadow ring-1 ring-gray-300 opacity-50 bg-gray-200 cursor-not-allowed {{ end }}
          "
        >
        <input
          {{ if member_can "change-denied-keys" }} {{ else }} disabled {{ end }}
          type="text"
          name="comment"
          placeholder="{{i18n "AdminDeniedKeysComment"}}"
          class="p-1 rounded font-mono truncate w-1/2 mr-2 tracking-wider h-12 shadow text-gray-900 focus:outline-none focus:ring-1
          focus:ring-green-500 focus:border-transparent placeholder-gray-300 
          {{ if member_can "change-denied-keys" }} {{ else }} shadow ring-1 ring-gray-300 opacity-50 bg-gray-200 cursor-not-allowed {{ end }}
          "
        >
        <input
          {{ if member_can "change-denied-keys" }} {{ else }} disabled {{ end }}
          type="submit"
          value="{{i18n "AdminDeniedKeysAdd"}}"
          class="pl-4 w-20 py-2 text-center font-bold bg-transparent disabled:opacity-50
          {{ if member_can "change-denied-keys" }} text-green-500 hover:text-green-600 cursor-pointer {{ else }} text-gray-200 cursor-not-allowed {{ end }}
          "
        >
      </div>
    </form>
    {{range .Entries}}
    <li class="flex flex-row items-center h-12">
      <span
        class="font-mono truncate flex-auto text-gray-600 tracking-wider text-xs"
      >{{.PubKey.Ref}}</span>

      <span
        class="font-mono flex-auto text-gray-600 tracking-wider"
      >{{.Comment}}</span>

      <a
        href="{{if member_can "change-denied-keys"}}{{urlTo "admin:denied-keys:remove:confirm" "id" .ID}}{{else}}#{{end}}"
        class="pl-4 w-20 py-2 text-center {{if member_can "change-denied-keys"}}text-gray-400 hover:text-red-600 font-bold cursor-pointer{{else}} text-gray-200 line-through cursor-not-allowed {{end}}"
      >{{i18n "AdminDeniedKeysRemove"}}</a>
    </li>
    {{end}}
  </ul>

  {{$pageNums := .Paginator.PageNums}}
  {{$view := .View}}
  {{if gt $pageNums 1}}
  <div class="flex flex-row justify-center">
    {{if not .FirstInView}}
      <a
        href="{{urlTo "admin:denied-keys:overview"}}?page=1"
        class="rounded px-3 py-2 text-pink-600 border-transparent hover:border-pink-400 border-2"
      >1</a>
      <span
        class="px-3 py-2 text-gray-400 border-2 border-transparent"
      >..</span>
    {{end}}

    {{range $view.Pages}}
      {{if le . $pageNums}}
        {{if eq . $view.Current}}
          <span
            class="px-3 py-2 cursor-default text-gray-500 border-2 border-transparent"
          >{{.}}</span>
        {{else}}
          <a
            href="{{urlTo "admin:denied-keys:overview"}}?page={{.}}"
            class="rounded px-3 py-2 mx-1 text-pink-600 border-transparent hover:border-pink-400 border-2"
          >{{.}}</a>
        {{end}}
      {{end}}
    {{end}}

    {{if not .LastInView}}
      <span
        class="px-3 py-2 text-gray-400 border-2 border-transparent"
      >..</span>
      <a
        href="{{urlTo "admin:denied-keys:overview"}}?page={{$view.Last}}"
        class="rounded px-3 py-2 text-pink-600 border-transparent hover:border-pink-400 border-2"
      >{{$view.Last}}</a>
    {{end}}
  </div>
  {{end}}
{{end}}
