<!--
SPDX-FileCopyrightText: 2021 The NGI Pointer Secure-Scuttlebutt Team of 2020/2021

SPDX-License-Identifier: CC-BY-4.0
-->

{{ define "title" }}{{i18n "AdminDeniedKeysRemoveConfirmTitle"}}{{ end }}
{{ define "content" }}
    <div class="flex flex-col justify-center items-center h-64">

      <span
        id="welcome"
        class="text-center"
      >{{i18n "AdminDeniedKeysRemoveConfirmWelcome"}}</span>

      <pre
        id="verify"
        class="my-4 font-mono truncate max-w-full text-lg text-gray-700"
      >{{.Entry.PubKey.Ref}}</pre>

      <div class="has-tooltip">
        {{human_time .Entry.CreatedAt}}
        <span class="tooltip">{{.Entry.CreatedAt.Format "2006-01-02T15:04:05.00"}}</span>
      </div>

      <span
        id="welcome"
        class="text-center"
      >{{i18n "AdminDeniedKeysCommentDescription"}}</span>
      <p>{{.Entry.Comment}}</p>

      <form id="confirm" action="{{urlTo "admin:denied-keys:remove"}}" method="POST">
        {{ .csrfField }}
        <input type="hidden" name="id" value={{.Entry.ID}}>
        <div class="grid grid-cols-2 gap-4">
          <a
            href="javascript:history.back()"
            class="px-4 h-8 shadow rounded flex flex-row justify-center items-center bg-white align-middle text-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50"
          >{{i18n "GenericGoBack"}}</a>

          <button
            type="submit"
            class="shadow rounded px-4 h-8 text-gray-100 bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-600 focus:ring-opacity-50"
          >{{i18n "GenericConfirm"}}</button>
        </div>
      </form>
    </div>
{{end}}