{{ define "title" }}{{i18n "AdminInviteRevokeConfirmTitle"}}{{ end }}
{{ define "content" }}
    <div class="flex flex-col justify-center items-center h-64">

      <span
        id="welcome"
        class="text-center"
      >{{i18n "AdminInviteRevokeConfirmWelcome"}}</span>

      {{$creator := .Invite.CreatedBy.PubKey.Ref}}
      {{range $index, $alias := .Invite.CreatedBy.Aliases}}
        {{if eq $index 0}}
          {{$creator = $alias.Name}}
        {{end}}
      {{end}}
      <pre
        class="my-4 font-mono truncate max-w-full text-lg text-gray-700"
      >{{.Invite.CreatedAt.Format "2006-01-02T15:04:05.00"}} ({{$creator}})</pre>

      <form id="confirm" action="{{urlTo "admin:invites:revoke"}}" method="POST">
        {{.csrfField}}
        <input type="hidden" name="id" value={{.Invite.ID}}>
        <div class="grid grid-cols-2 gap-4">
          <a
            href="javascript:history.back()"
            class="px-4 h-8 shadow rounded flex flex-row justify-center items-center bg-white align-middle text-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50"
          >{{i18n "GenericGoBack"}}</a>

          <button
            type="submit"
            class="shadow rounded px-4 h-8 text-gray-100 bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-600 focus:ring-opacity-50"
          >{{i18n "GenericConfirm"}}</button>
        </div>
      </form>
    </div>
{{end}}