{{ define "title" }}{{i18n "AdminInviteCreatedTitle"}}{{ end }}
{{ define "content" }}
    <div class="flex flex-col justify-center items-center h-64">

      <span
        id="welcome"
        class="text-center"
      >{{i18n "AdminInviteCreatedWelcome"}}</span>

      <pre id="invite-facade-link">{{.FacadeURL}}</pre>
    </div>
{{end}}