{{ define "title" }}{{i18n "AdminMembersTitle"}}{{ end }}
{{ define "content" }}
  <h1
    class="text-3xl tracking-tight font-black text-black mt-2 mb-4"
  >{{i18n "AdminMembersTitle"}}</h1>

  <p id="welcome" class="my-2">{{i18n "AdminMembersWelcome"}}</p>


  {{if .Errors}}
  <ul id="error-list">
    {{range .Errors}}
      <li
        class="{{if eq .Kind 1}}text-red-600{{else}}text-green-600{{end}}"
      >
        {{.Message}}
      </li>
    {{end}}
  </ul>
  {{end}}

  <p
    id="membersCount"
    class="text-lg font-bold my-2"
  >{{i18npl "MemberCount" .Count}}</p>

  <ul id="theList" class="divide-y pb-4">
    <form
      id="add-entry"
      action="{{urlTo "admin:members:add"}}"
      method="POST"
    >
      {{ .csrfField }}
      <div class="flex flex-row items-center h-12">
        <input
          type="text"
          name="pub_key"
          placeholder="@                                            .ed25519"
          class="font-mono truncate w-1/2 ml-3 tracking-wider h-12 text-gray-900 focus:outline-none focus:ring-1 focus:ring-green-500 focus:border-transparent placeholder-gray-300"
        >
        <input
          type="submit"
          value="{{i18n "AdminMembersAdd"}}"
          class="pl-4 w-20 py-2 text-center text-green-500 hover:text-green-600 font-bold bg-transparent cursor-pointer"
        >
      </div>
    </form>
    {{range $index, $member := .Entries}}
    <li class="flex flex-row items-center h-12">

      <form
        class="change-member-role"
        action="{{urlTo "admin:members:change-role" "id" $member.ID}}"
        method="POST"
      >
        {{ $.csrfField }}
        <select name="role">
          {{range $.AllRoles}}
            <option
              value="{{.}}"
              {{if eq . $member.Role}}
                selected
              {{else}}
                class="changed"
              {{end}}
            >{{i18n .String}}</option>
          {{end}}
        </select>
        <!-- TODO: I'd like to keep this button hidden until the option is changed.
        butt i'm not sure that's possible without client side javascript..?
        https://stackoverflow.com/questions/16015933/how-can-i-show-a-hidden-div-when-a-select-option-is-selected
        -->
        <input type="submit" value="{{i18n "GenericSave"}}">
      </form>

      <span
        class="font-mono truncate flex-auto text-gray-600 text-xs"
      >{{$member.PubKey.Ref}}</span>

      <a
        href="{{urlTo "admin:members:remove:confirm" "id" $member.ID}}"
        class="pl-4 w-20 py-2 text-center text-gray-400 hover:text-red-600 font-bold cursor-pointer"
      >{{i18n "AdminMembersRemove"}}</a>
    </li>
    {{end}}
  </ul>

  {{$pageNums := .Paginator.PageNums}}
  {{$view := .View}}
  {{if gt $pageNums 1}}
  <div class="flex flex-row justify-center">
    {{if not .FirstInView}}
      <a
        href="{{urlTo "admin:members:overview"}}?page=1"
        class="rounded px-3 py-2 text-pink-600 border-transparent hover:border-pink-400 border-2"
      >1</a>
      <span
        class="px-3 py-2 text-gray-400 border-2 border-transparent"
      >..</span>
    {{end}}

    {{range $view.Pages}}
      {{if le . $pageNums}}
        {{if eq . $view.Current}}
          <span
            class="px-3 py-2 cursor-default text-gray-500 border-2 border-transparent"
          >{{.}}</span>
        {{else}}
          <a
            href="{{urlTo "admin:members:overview"}}?page={{.}}"
            class="rounded px-3 py-2 mx-1 text-pink-600 border-transparent hover:border-pink-400 border-2"
          >{{.}}</a>
        {{end}}
      {{end}}
    {{end}}

    {{if not .LastInView}}
      <span
        class="px-3 py-2 text-gray-400 border-2 border-transparent"
      >..</span>
      <a
        href="{{urlTo "admin:members:overview"}}?page={{$view.Last}}"
        class="rounded px-3 py-2 text-pink-600 border-transparent hover:border-pink-400 border-2"
      >{{$view.Last}}</a>
    {{end}}
  </div>
  {{end}}
{{end}}