<!--
SPDX-FileCopyrightText: 2021 The NGI Pointer Secure-Scuttlebutt Team of 2020/2021

SPDX-License-Identifier: CC-BY-4.0
-->

{{ define "title" }}Menu{{ end }}
{{ define "main"}}<span></span>{{end}}
{{ define "extra" }}
  {{template "menu" .}}
{{end}}
{{define "footer"}}<span></span>{{end}}