{{ define "title" }}{{i18n "NewsTitle"}}: {{.Post.Name}}{{ end }}
{{ define "content" }}
<div class="page-header">
  <h1>{{.Post.Name}}</h1>
</div>
<div class="row">
<div class="col-md-12">
<p>{{.Post.Text}}</p>
</div>
</div> <!-- /row -->
<a href="{{urlTo "news:overview"}}" id="overview">Overview</a>
<a href="{{urlTo "news:post" "id" (inc .Post.ID)}}" id="next">Next...</a>
{{end}}